@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navigation code */
.navigation {
  background-color: #202020;
  display: flex;
  height: 62px;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.25px 24px;
  max-width: 1280px;
  margin: 0 auto;
}

.navigation .container .nav-ul {
  display: none;
}

.navigation .container ul .link a:hover {
  color: #d72000;
}

.navigation .container .menu-btn {
  display: flex;
}
.navigation .btn-container {
  position: relative;
} 

.popover {
  
  position: absolute;
  top: 28px;
  right: 0;
  z-index: 900;
  background: #343434;
  padding: 12px 12px 4px 12px;
  width: 140px;
  border-radius: 6px;
  
}
.popover ul li {
  color: #f4f4f4;
  padding-bottom: 8px;
}

.icon {
  color: #f4f4f4;
}

/* desktop navigatio bar */
@media (min-width: 768px) {
  .navigation .container ul {
    display: flex;
    gap: 32px;
  }
  .navigation .container {
    justify-content: space-between;
  }
  .navigation .container .menu-btn {
    display: none;
  }

  .navigation .container .nav-ul{
    display: flex;
  }
  .navigation .btn-container {
    display: none;
  }
}

.footer{
  background-color: #343434;
  color: white;
  padding: 20px 0;
  
  width: 100%;
  margin-top: auto;

}
.footer .container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 1280px;
  margin: 0 auto;
  gap: 20px;
  padding-left: 25px;
}
.footer .sub-container-1
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.footer .sub-container-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding-right: 50px;
  
}

.footer .sub-container-2 .section-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* desktop footer */
@media (min-width: 768px) {
  .footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .sub-container-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .footer .sub-container-2{
    padding-right: 0px;
    margin-right: 0px;
  }

  .footer .sub-container-2 .section-1{
    gap: 40px;
  }
}

